<nav class="navbar navbar-expand-lg navebarcss">
    <ul class="navbar-nav mr-auto naveflux">
        <li class="nav-item">
            <a class="nav-link home" href="/">Home</a>
        </li>
        <a href="\logout" class=""><button class="btn btn-outline-primary btn-lg border-4">Logout</button></a>
    </ul>
</nav>