<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>


    <main>
        <div class="jumbotron great text-light home-p">
            <h1>Node.js Express😘</h1>
            <p>Welcome to templating using EJS</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, accusamus? Optio magnam a voluptatibus, culpa perferendis est labore voluptatum rem aliquid nulla nam veniam. Dolore ducimus maxime voluptas veritatis error? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veritatis nostrum aliquam numquam soluta adipisci earum, dicta ea iure porro repellendus facere expedita blanditiis aspernatur commodi in provident? Architecto, quos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, in vero iure, esse fuga explicabo sunt quis reprehenderit ipsam voluptatibus suscipit animi vitae, fugiat cumque eligendi nam necessitatibus molestias! Pariatur?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque dolorem sunt sint delectus similique nemo. Iste eligendi ea mollitia? Eveniet dignissimos omnis facilis ratione autem totam illum odio ullam adipisci. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, accusantium ipsum impedit expedita veniam optio animi corporis reprehenderit consectetur perferendis, omnis excepturi nemo, nostrum iure nam sequi recusandae quis suscipit? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta praesentium saepe sint aspernatur? Quos ipsam accusamus possimus, cum nesciunt hic. Quis est consequatur reiciendis illum, a unde earum qui quod. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam mollitia iste impedit soluta dolores ex. Similique, ad. Fugit culpa tempora vitae necessitatibus corrupti, aspernatur corporis earum sunt quaerat porro tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos sequi placeat porro excepturi officiis exercitationem esse sed, reiciendis quae enim omnis dolor fuga, harum dolore inventore debitis quia maxime.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi omnis consequuntur dicta debitis nihil enim quam magni qui earum ullam quibusdam sit laborum ducimus, facilis ab, tempora recusandae accusamus explicabo?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex optio, vitae eos molestiae molestias vero? Nihil aliquam eligendi doloribus. Voluptatem veritatis iste ratione doloribus sit eius asperiores officia et possimus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nulla rem voluptatibus fugit culpa sequi molestias porro saepe, possimus, aperiam quam adipisci, alias harum nam minus incidunt? Nisi, beatae vero.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus repudiandae consequatur quos earum, quasi suscipit placeat, at, perspiciatis architecto voluptates obcaecati repellat deleniti? Possimus unde perspiciatis sequi dolor.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex inventore fugit numquam modi iusto atque libero, pariatur est rerum odio harum recusandae rem eius eos officia! Dolores excepturi distinctio id.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti recusandae, sequi nesciunt soluta fugit dignissimos, ducimus laboriosam adipisci, et nobis error aperiam provident deleniti ut accusantium eligendi esse incidunt fuga! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium ipsa, nesciunt dolores reprehenderit inventore suscipit cum asperiores dicta fugit esse similique repellat? Commodi molestias nam dicta quis sunt magni.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio, neque cum temporibus commodi sint! Iste quis cum expedita eos. Recusandae consectetur ratione quisquam minus non quis dolores harum vitae!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, aperiam! Quidem natus consequatur eligendi sapiente voluptas quae error impedit aspernatur, dolore nisi. Accusamus, corporis. Tenetur esse amet dignissimos obcaecati tempore?
                
            </p>
        </div>
    </main>


</body>

</html>